.horiz-line{
    position: relative;
    color: #BABABA;
    text-align: center;
    margin: 2rem 0;
    width: 80%;
}

.horiz-line::after{
    content:'';
    position: absolute;
    background-color: #F5F5F5;
    width: 45%;
    height: 3px;
    top: 50%;
    right: 0;
}

.horiz-line::before{
    content:'';
    position: absolute;
    background-color: #F5F5F5;
    width: 45%;
    height: 3px;
    top: 50%;
    left: 0;
}

@media screen and (max-width:992px) {
    .horiz-line{
        width: 100%;
    }
}