.game-card {
    position: relative;
  }
  
  .game-card-background {
    width: 520px;
    border-radius: 60px;
  }
  
  .desc-game {
    position: absolute;
    top: 65%;
    left: 23.38%;
    right: 4%;
    color: #ffffff;
    font-family: "Arial";
    font-weight: 800;
    font-size: 18px;
    line-height: 31px;
    text-align: right;
  }
  
  .desc-game.direction {
    position: absolute;
    top: 40%;
    left: 5%;
    right: 35%;
    color: #ffffff;
    font-family: "Arial";
    font-weight: 800;
    font-size: 16px;
    line-height: 31px;
    text-align: left;
  }